body{
    background:linear-gradient(
        to right,
        black 0%,
        black 50%,
        orange 50%,
        orange 100%
    );
    /* min-height: 100dvh;  */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container div{
    color: white;
    font-size: 2.5rem;
    /* width: 700px;
    height: 300px; */
}